@model ClockCreateModel
@{
    ViewBag.MenuId = "#clocks";
}

<div style="padding: 50px">
    @using (Html.BeginForm(FormMethod.Post, true, new { @class = "validation-form", action = "/Admin/Clocks/Add", enctype = "multipart/form-data" })) {
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Views/Shared/_ValidationSummary.cshtml")
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <fieldset>
                    <legend>New Clock:</legend>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Number)
                        @Html.TextBoxFor(x => x.Number, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Name)
                        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Price)
                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Features)
                        @Html.TextAreaFor(x => x.Features, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Caveats)
                        @Html.TextAreaFor(x => x.Caveats, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Description)
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Active)
                        @Html.CheckBoxFor(x => x.Active)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(x => x.Featured)
                        @Html.CheckBoxFor(x => x.Featured)
                    </div>
                </fieldset>
            </div>
            <div class="col-md-6">
                <fieldset>
                    <legend>&nbsp;</legend>

                    <div class="form-group">
                        @Html.LabelFor(x => x.FileUploads)
                        <input type="file" id="FileUploads" name="FileUploads" class="form-control" multiple />
                    </div>
                </fieldset>
                <fieldset>
                    <div class="form-group">
                        @Html.LabelFor(x => x.AudioUpload)
                        <input type="file" id="AudioUpload" name="AudioUpload" class="form-control" />
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Filters</legend>
                    
                    <div class="form-group">
                        @Html.CheckBoxFor(x => x.Filters.Lenzkirch)
                        @Html.LabelFor(x => x.Filters.Lenzkirch)
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(x => x.Filters.ViennaRegulator)
                        @Html.LabelFor(x => x.Filters.ViennaRegulator)
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(x => x.Filters.WallClock)
                        @Html.LabelFor(x => x.Filters.WallClock)
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(x => x.Filters.TableClock)
                        @Html.LabelFor(x => x.Filters.TableClock)
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(x => x.Filters.MiniatureClock)
                        @Html.LabelFor(x => x.Filters.MiniatureClock)
                    </div>
                    <div class="form-group">
                        @Html.CheckBoxFor(x => x.Filters.GrandfatherClock)
                        @Html.LabelFor(x => x.Filters.GrandfatherClock)
                    </div>
                </fieldset>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <input type="submit" class="btn btn-lg btn-success pull-right" value="Add Clock" />
                <a href="/admin/clocks" class="btn btn-danger btn-lg">Cancel</a>
            </div>
            <br class="clearfix" />
        </div>
    }
</div>

