@model Clock
@{
    var defaultImage = Model.Resources.FirstOrDefault(p => p.Default);
    ViewBag.MenuId = "#clocks";
}

<div id="detail-container">
    <!-- Header -->
    <div class="row detail-title">
        <h3>@Model.Name #@Model.Number</h3>
        <div style="display: inline-flex;">
            <a data-pin-do="buttonPin" href="@Model.PintrestLink(defaultImage?.Id)" style="text-decoration: none; margin-right: 5px;">
                <img src="//assets.pinterest.com/images/pidgets/pinit_fg_en_rect_gray_20.png" />
            </a>
            <div class="fb-like" data-href="http://www.antique-clock.com/images/@defaultImage?.Id" data-width="200" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
        </div>
    </div>
    
    <!-- Gallery -->
    <div class="row gallery-container container-fluid">
        <div class="col-md-7 main">
            <img src="/images/@defaultImage?.Id" id="main-img" />
            @*<a href=""></a>*@
        </div>
        <div class="col-md-5 thumbs">
            @foreach (var image in Model.Resources) {
                <img src="/images/@image.Id" onmouseover="swapImage('/images/@image.Id')" />
                @*<a href="/images/@image.Id"></a>*@
            }
            <br />
            <h4>Click the pictures for max resolution.</h4>
        </div>
    </div>

    <!-- Details -->
    <div class="row detail-details">
        <div class="row">
            <div class="col-md-5">
                <div class="detail-header">Features</div>
                <ul>
                    @foreach (var feature in Model.FullFeatures) {
                        <li>@feature</li>
                    }
                </ul>
                <div class="detail-header">Caveats</div>
                <ul>
                    @foreach (var caveat in Model.FullCaveats) {
                        <li>@caveat</li>
                    }
                </ul>
            </div>
            <div class="col-md-6 col-lg-offset-1" style="padding: 10px;">
                <div class="detail-header">Description</div>
                <div class="detail-description">@Model.Description</div>
                <a href="#" class="strike-link">Click here to hear it strike</a>
                <div class="detail-price">
                    @(Model.IsSold ? "SOLD" : string.Format("Price: {0:c}", Model.Price))
                </div>
            </div>
        </div>
        <div class="row detail-footer">
            <a href="mailto:clocks@antique-clock.com?subject=@string.Format("{0} {1}", Model.Name, Model.Number)" class="btn btn-lg btn-info">
                Request Information
            </a>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        function swapImage(src) {
            $('#main-img').attr("src", src);
        }
    </script>
}